// This configuration file specifies core execution parameters that are not contingent on execution profile.
params.noThreads = 30
env.shards = '$(nproc --all)'

// Local executor configuration
process.executor = 'local'
executor.$local.memory = '120 GB'
//executor.$local.queueSize = 2

// Docker Info
docker {
	enabled = true
    temp = 'auto'
    runOptions = "--volume /mount/:/mount/ --volume $params.vepCache:/opt/vep/.vep -u \$(id -u):\$(id -g)"
}

timeline {
	enabled = true
	file = 'timeline_dnapipe.html'
	overwrite = true
}

report {
	enabled = true
	file = 'report_dnapipe.html'
	overwrite = true
}

trace {
	enabled = true
    file = 'trace_dnapipe.txt'
	overwrite = true
}

dag {
	enabled = true
	overwrite = true
}

process {
    withLabel: 'utuprcagenetics' {
        container = 'utuprcagenetics/dnapipe:0.1'
	}
	withLabel: 'gatk' {
		container = 'broadinstitute/gatk'
	}
	withLabel: 'mosdepth' {
		container = 'quay.io/biocontainers/mosdepth:0.2.4--he527e40_0'
	}
	withLabel: 'deepvariant' {
		container = 'google/deepvariant:1.4.0'
	}
	withLabel: 'vep' {
		container = 'ensemblorg/ensembl-vep'
	}
}
